annotated-types==0.7.0
anyio==4.12.1
black==26.3.0
certifi==2026.2.25
click==8.3.1
grpcio==1.78.0
grpcio-tools==1.78.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.11
isort==8.0.1
librt==0.8.1
mypy==1.19.1
mypy_extensions==1.1.0
packaging==26.0
pathspec==1.0.4
platformdirs==4.9.4
protobuf==6.33.5
pydantic==2.12.5
pydantic_core==2.41.5
pytokens==0.4.1
ruff==0.15.5
setuptools==82.0.0
typing-inspection==0.4.2
typing_extensions==4.15.0
websockets==16.0
